                                        */
/* home 1 */
/* .bodys{
    background-color: rebeccapurple;
    color: greenyellow;
    height: 80px;
    width: 110px;
    
} */


 /* home 2-3 */ 
.bodys{
    background-color: rebeccapurple;
    color: greenyellow;
    height: 80px;
    width: 110px;
    text-align: 45px;

}
    pad{
        padding: 40px;
       
    }